
html{
    height: 100px;
    min-height: 100px;
}
#navbar{
    display: grid;
    grid-template-columns:50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px 50px; 

}
.About:hover {
    text-decoration: underline;
}

.Store:hover {
    text-decoration: underline;
}

.image:hover {
    text-decoration: underline;
}
.Gmail:hover {
    text-decoration: underline;
}
.sign-in:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.menu img{
    width: 20px;
}
.logo img{
    margin-left: 550px;
    width: 350px;
}


.search {
        width:40%;
        margin-bottom:5px;
        margin-left: 15px;
        padding:15px 20px;
        border-radius:50px ;
        border-color: rgba(185, 184, 184, 0.822);
        
      
}
.search:hover{
    border:1px solid rgba(128, 128, 128, 0.507);
    box-shadow:1px 1px 4px 1px rgb(197, 197, 197);

}
/* input{
    background-image: url(./search\ icon.png);
    background-position: 15px 15px;
    padding-left: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    border: 2px solid rgba(224, 224, 224, 0.301);
}
input{
    background-image: url(./voice\ icon.png) ;
    background-position: 15px 15px;
    padding-left: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    border: 2px solid rgba(224, 224, 224, 0.301);
} */
img{
    width: 25px;
}
 .google-input{
    background-color: #fff;
    width: 1500px;
    height: 100px;
}


form{
    text-align: center;
    margin-bottom: 1px;
    width: 100%;

}
.main2 p{
    text-align: center;
}
.google-search-btn, .random-search-btn{
    padding: 15px;
   border-radius: 4px;
   border: none;
    
   
}

.google-search-btn:hover, .random-search-btn:hover{
    border:1px solid rgba(128, 128, 128, 0.507);
    box-shadow:1px 1px 4px 1px rgba(128, 128, 128, 0.486);
}

.main2 a{
    color: rgb(3, 3, 194);
}

.main2 a:hover{
    text-decoration: underline;
    
}
div.footer{
    display: grid;
    grid-template-columns:50px  50px 50px 1fr 50px 50px 50px;
    grid-template-rows: 50px ; 

}

.footer {
   padding: 15px;
    bottom: 0;
    position: fixed;
    background-color:#f2f2f2;
    text-transform: capitalize;
    left: 0;
    position: absolute;
    right: 0;
   
}
.footer > .Advertising:hover{
    text-decoration: underline;
}

.Business:hover{
    text-decoration: underline;
}

.About:hover{
    text-decoration: underline;
}

.How-Search-Works:hover{
    text-decoration: underline;
}
.Privacy:hover{
    text-decoration: underline;
}

.Terms:hover{
    text-decoration: underline;
}

.Settles:hover{
    text-decoration: underline;
}








